@import "../abstracts/variables";

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 10pt;
  bottom: 0;
  width: $body-width;
  height: 50pt;
  z-index: 2;
  position: fixed;

  nav {
    display: flex;
    align-items: center;
    gap: 15px;

    ul {
      list-style-type: none;
      padding: 0;
      display: flex;
      gap: 15px;
      align-items: center;
    }
  }
}
