footer {

  position: absolute;
  bottom: 0;

  grid-column: 1/13;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 10pt;


  nav {
    display: flex;
    align-items: center;
    gap: 15px;

    ul {
      list-style-type: none;
      padding: 0;
      display: flex;
      gap: 15px;
      align-items: center;
    }
  }
}