header {
  img {
    position: absolute;
    top: 35pt;
    left: 50%;
    transform: translate(-50%, 50%);
    width: 240pt;
  }
}

a[href="/"] {
  font-weight: bold
}

main {
  margin-top: 120pt;
}

#stoebern-button {
  margin-top: 30pt;
}