.big-button {
  text-decoration: none;
  font-weight: bold;
  font-size: 20pt;
  color: $background-primary;
  background-color: $accent-color;
  border-radius: 50vh;
  padding: 5pt 10pt;
  display: inline-block;
  text-align: center;
  min-height: 3rem;
  justify-content: center;
}