.book-carousel {
  grid-column: 1/13;

  margin-top: 10px;
  padding: 10px;
  border-radius: 15pt;
  display: flex;
  overflow-x: auto;
  gap: 6pt;
  margin-bottom: 40px;

  .book-carousel-box {
    flex: 0 0 calc(20% - 10px);
    max-width: calc(20% - 10px);
    height: auto;
    padding: 10px;
    border-radius: 15pt;
    background-color: $background-primary;
    position: relative;

    .send-value-button {
      border-radius: 15pt;
      font-size: 11pt;
      font-weight: 600;
      color: $text-color;
      background-color: $background-primary;
      padding: 7pt 10pt;
      filter: drop-shadow(0pt 2pt 5pt rgba(0, 0, 0, 0.15));
    }
    .info-text {
      padding: 10px;
      overflow: hidden;

      p {
        text-decoration: none;
        font-weight: normal;
        font-size: 12pt;
        line-height: 1;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }

      h2 {
        text-decoration: none;
        font-weight: bold;
        font-size: 20pt;
        line-height: 1;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
    }

    img {
      justify-content: center;
      max-width: calc(100% - 20px);
      width: auto;
      height: calc(100% - 80px);
      border-radius: 15pt;
      background-image: linear-gradient(to bottom, rgba(252, 81, 71, 1) 100%, rgba(255, 238, 224, 1) 100%);
      left: 0;
      right: 0;
      margin-left: auto;
      margin-right: auto;
    }
  }
}
