.book-info-box {
  margin-top: 10px;
  grid-column: span 3;
  padding: 10px;
  border-radius: 15pt;
  filter: dropshadow();
  height: 315px;
  background-color: $background-primary;
  position: relative;

  .info-text {
    position: absolute;
    z-index: 2;
    padding: 10px;
    bottom: 0;
    overflow: hidden;

    p {
      text-decoration: none;
      font-weight: normal;
      font-size: 12pt;
      position: relative;
      line-height: 1;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    h2 {
      text-decoration: none;
      font-weight: bold;
      font-size: 20pt;
      position: relative;
      max-width: 100%;
      line-height: 1;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }

    img {
      width: calc(100% - 20px);
      height: calc(100% - 80px);
      padding-bottom: 0;
      border-radius: 15pt;
      position: absolute;
      z-index: 1;
      background: linear-gradient(to bottom, rgba(252, 81, 71, 1) 100%, rgba(255, 238, 224, 1) 100%);
    }
}