$form-padding: 20px;
.editForm {
  grid-column: 1/13;
  background-color: $background-primary;
  border-radius: 15px;
  padding: $form-padding;
  margin: 0 auto;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;

  label {
    color: $text-color;
    margin-bottom: 5px;
  }

  input[type="text"],
  input[type="number"],
  input[type="password"],
  textarea,
  select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 15px;
    background-color: $background-secondary;
    color: $text-color;
  }

  textarea {
    resize: vertical;
    word-wrap: break-word;
  }

  input[type="submit"] {
    color: $text-color;
    cursor: pointer;
    transition: background-color 0.3s ease;
    align-self: flex-start;

    &:hover {
      background-color: darken($background-secondary, 10%);
    }
  }

  input[type="file"] {
    display: none;
  }

  .image {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 15px;
    background-color: $background-secondary;
    color: $text-color;
    border: none;
    display: inline-block;
    cursor: pointer;
  }
}

.new-user-form {
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  background-color: $background-primary;
  grid-column: 4/10;
  padding: 40px 80px;
  gap: 15px;
  filter: $drop-shadow;
  background-image: url("../images/gradient.svg");
  background-repeat: no-repeat;
  background-position: bottom right;

  input[type="password"],
  textarea,
  select,
  .image,
  input[type="number"] {
    vertical-align: baseline;
    color: $text-color;
    font-size: 15px;
    margin-left: 5px;
    border-bottom: $text-color solid;
  }

  p.text-small-normal {
    margin-top: 10px;
  }

  .button-container {
    margin-top: 25px;
    display: flex;
    flex-direction: row;
    gap: 15px;
  }
}