@import "../abstracts/variables";

.user-container {
  grid-column: 4/10;
  background-color: $background-primary;
  border-radius: 15pt;
  filter: $drop-shadow;

  .profile-picture {
    display: inline-block;
    width: 40pt;
    height: 40pt;
    border-radius: 50%;
    background-image: linear-gradient($background-primary, #737373);
  }
}