@import "abstracts/variables";

a[href="/books.php"] {
  font-weight: bold;
}

.search-container {
  grid-column: 4/8;
  .search-bar {
     border: 1px solid #ccc;
     border-radius: 5px;
     font-size: 16px;
     background-color: $background-primary;
    }
  .search-icon {
     position: absolute;
     right: 10px; 
     top: 50%;
     transform: translateY(-50%);
  }
  .search-bar-container {
     position: relative;
     display: inline-block;
  }
 }
 



