@import "abstracts/variables";
@import "components/big-button";
@import "components/outline-button";

a[href="/login.php"] {
  font-weight: bold;
}

header {
  display: flex;
  grid-column: 1/13;
  margin-top: 70pt;
  margin-bottom: 35pt;
  justify-content: center;

  img {
    width: 240pt;
  }
}

.login-container {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  gap: 6pt;
  padding-inline: 0;

  h1 {
    grid-column: 2/3;
  }

  p {
    text-align: center;
    margin-top: 35pt;
  }

  form {
    grid-column: 4/8;
    display: flex;
    flex-direction: column;
    gap: 15pt;

    input {
      border-radius: 50vh;
      border: $text-color solid 1px;
      text-indent: 10px;
      padding: 6pt;
      font-size: 14pt;
      color: $text-color;
      min-height: 3rem;
      background-color: $background-primary;
    }

    #login-button-wrapper {
    display: flex;
    flex-direction: row;
    gap: 15pt;
  }
  }
}

footer {
  grid-column: 1/13;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin-top: 70pt;

  p {
    color: $text-color;
    font-weight: bold;
  }
}