@import "abstracts/variables";
@import "components/big-button";
@import "components/outline-button";

a[href="/login.php"] {
  font-weight: bold;
}

.login-container {
  form {

    display: flex;
    flex-direction: column;

    input {
      border-radius: 50vh;
      border: $text-color solid 1px;
      text-indent: 10px;
      padding: 6pt;
      font-size: 14pt;
      color: $text-color;
      min-height: 3rem;
    }
  }
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  grid-column: 1/13;

  p {
    color: $text-color;
    font-weight: bold;
  }
}