.search-container {
  grid-column: 4/10;
  margin-top: 40pt; }
  .search-container .search-bar {
    border-radius: 15pt;
    width: 100%;
    background-color: #FFEEE0;
    text-indent: 10px;
    padding: 6pt;
    font-size: 14pt;
    color: #4E2323;
    font-weight: 600;
    filter: drop-shadow(0pt 2pt 5pt rgba(0, 0, 0, 0.15)); }
  .search-container .search-icon {
    position: absolute;
    right: 16pt;
    top: 50%;
    transform: translateY(-50%);
    width: 14pt;
    aspect-ratio: 1;
    background-image: url("../images/Search_Icon.svg");
    background-size: cover; }
  .search-container .search-bar-container {
    position: relative;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    width: 100%; }
  .search-container .dropdown {
    padding-top: 10px;
    display: flex;
    gap: 20pt; }
    .search-container .dropdown .filter-container .filter {
      border-radius: 15pt;
      width: fit-content;
      font-size: 11pt;
      font-weight: 600;
      color: #4E2323;
      background-color: #FFEEE0;
      padding: 7pt 10pt;
      filter: drop-shadow(0pt 2pt 5pt rgba(0, 0, 0, 0.15)); }
    .search-container .dropdown .sort-container .sort {
      border-radius: 15pt;
      width: fit-content;
      font-size: 11pt;
      font-weight: 600;
      color: #4E2323;
      background-color: #FFEEE0;
      padding: 7pt 10pt;
      filter: drop-shadow(0pt 2pt 5pt rgba(0, 0, 0, 0.15)); }
    .search-container .dropdown a:last-child {
      margin-left: auto; }

.big-button {
  text-decoration: none;
  font-weight: bold;
  font-size: 20pt;
  color: #FFEEE0;
  background-color: #38703E;
  border-radius: 50vh;
  padding: 5pt 10pt;
  display: inline-block;
  text-align: center;
  min-height: 3rem;
  justify-content: center; }

.outline-button {
  text-decoration: none;
  font-weight: normal;
  font-size: 20pt;
  color: #4E2323;
  background-color: #FFEEE0;
  border-radius: 50vw;
  padding: 5pt 10pt;
  display: inline-block;
  outline: #4E2323 solid 1px;
  text-align: center;
  justify-content: center;
  min-height: 3rem; }

a[href="/users.php"] {
  font-weight: bold; }

.new-user-form {
  display: flex;
  flex-direction: column;
  border-radius: 15pt;
  background-color: #FFEEE0;
  grid-column: 4/10;
  padding: 40pt 80pt;
  gap: 15pt;
  filter: drop-shadow(0pt 2pt 5pt rgba(0, 0, 0, 0.15));
  background-image: url("../images/gradient.svg");
  background-repeat: no-repeat;
  background-position: bottom right; }
  .new-user-form .name {
    display: flex; }
    .new-user-form .name input[type=text] {
      vertical-align: baseline;
      color: #4E2323;
      font-size: 15pt;
      margin-left: 5pt;
      border-bottom: #4E2323 solid;
      flex: 1; }
  .new-user-form .gender {
    justify-content: center; }
    .new-user-form .gender input[type=radio] {
      background-color: #FFE4CF;
      width: 10pt;
      height: 10pt;
      border-radius: 50%;
      vertical-align: baseline;
      border: #4E2323 1px solid; }
    .new-user-form .gender input[type=radio]:checked {
      background-color: #38703E; }
  .new-user-form .email {
    display: flex; }
    .new-user-form .email input[type=email] {
      vertical-align: baseline;
      color: #4E2323;
      font-size: 15pt;
      margin-left: 5pt;
      border-bottom: #4E2323 solid;
      flex: 1; }
  .new-user-form input[type=checkbox] {
    background-color: #FFE4CF;
    width: 10pt;
    height: 10pt;
    border-radius: 5%;
    vertical-align: baseline;
    border: #4E2323 1px solid; }
  .new-user-form input[type=checkbox]:checked {
    background-color: #38703E; }
  .new-user-form input[type=date] {
    vertical-align: baseline;
    color: #4E2323;
    font-size: 15pt;
    margin-left: 5pt;
    border-bottom: #4E2323 solid; }
  .new-user-form p.text-small-normal {
    margin-top: 10pt; }
  .new-user-form .button-container {
    margin-top: 25pt;
    display: flex;
    flex-direction: row;
    gap: 15pt; }

.delete-form {
  grid-column: 4/6; }

/*# sourceMappingURL=new_user.css.map */
